[toolchain]
anchor_version = "0.30.1"

[features]
seeds = false
skip-lint = false

[programs.devnet]
reincarnation = "FWtbqFjtjXEGCaMSwLAHxgUjPS9nd3SdZatbM4anAvvw"

[programs.localnet]
reincarnation = "FWtbqFjtjXEGCaMSwLAHxgUjPS9nd3SdZatbM4anAvvw"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
